.fMapa {
    padding-top: 3rem;
    text-align: center;
    padding-left: 2rem;
    background-color: $colorUno;
    width: 50rem;
}

.fContacto>a:hover {
    color: $colorDos;
    font-size: 2.5rem;
    text-decoration: none;
}

.fContacto {
    font-size: 2rem;
    background-color: $colorUno;
    color: $colorTres;
    align-items: center;
    text-align: left;

}

.fContacto {
    a {
        color: $colorTres;
        transition: all 300ms;
        transform: scale(1.2);
    }
}

.fRedesIconos {
    background-color: $colorUno;
    color: $colorTres;
    text-decoration: none;
    transition: all 300ms;
    font-size: 2rem;
    justify-content: space-between;
}

.fRedesIconos {
    ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-top: 6rem;
        margin-right: 2rem;
        align-items: space-between;
    }
}

.imgRedes {
    height: 30px;
    width: 30px;
}

.lFooter {
    list-style: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

.lFooter {
    li {
        transition: all 300ms;
    }
}

.lFooter>li:hover {
    transform: scale(1.2);
}

.lFooter {
    ul {
        justify-content: right;
    }
}

.bSubir {
    height: 50px;
    width: 35px;
    position: fixed;
    bottom: 80px;
    right: 40px;
    font-size: 10px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    border-radius: 50%;
}

.imgBSubir {
    height: 35px;
    width: 35px;
}

.bSubir>a>img:hover {
    transition: all 300ms;
    transform: scale(1.2);
}