/* fotmulario */
.formulario--size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-family: 'Caveat', cursive;
    text-align: center;
}

input {
    font-family: 'Caveat', cursive;
}

.form-control {
    font-family: 'Caveat', cursive;
    border-radius: 2rem;
    transition: all 1s;
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

.form-control:focus {
    font-size: 1.5rem;
    border: 0.1rem dotted black;
    color: black;
}

textarea {
    transition: all 1s;
    border-radius: 1rem;
}

textarea:focus {
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    border: 0.1rem dotted $colorUno;
    color: $colorUno;
}

label>.fContacto {
    font-family: 'Caveat', cursive;
}