/* tabla */
table {
    margin-top: 2rem;
    text-align: center;

}

.estiloTabla {
    text-align: center;
    width: 50%;
    height: 40px;
    font-size: 18px;
}

table {
    td {
        ol {
            li {
                list-style: none;
            }
        }
    }
}