* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* conversion a 10px */
html {
    font-size: 62.5;
    scroll-behavior: smooth;
}

/* paleta de colores */
$colorUno: black;
$colorDos: rgb(107, 114, 77);
$colorTres: white;

.h1__header--size {
    font-size: 1.2rem;
    color: $colorTres;
}

.h2--color {
    margin-top: 2rem;
    color: $colorDos;
    font-size: 2rem;
    margin-left: 1rem;
}

.h3--color {
    padding-top: 2rem;
    color: $colorUno;
    font-size: 1.5rem;
}

.carouselIndex {
    width: 65%;
    margin: auto;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    max-height: 480px;
}

.containerVid {
    text-align: center;
}

.containerImg {
    margin-top: 2rem;
    text-align: center;
}

.img-fluid {
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 00.5rem;
    transition: 1s;
}

.img-fluid:hover {
    transform: scale(1.1);
}



/* parrafos */
.p1 {
    color: $colorUno;
    text-align: center;
    font-size: 1.5rem;
}

.p2 {
    color: $colorUno;
    text-align: center;
    font-size: 1.5rem;
}

.p3--align {
    text-align: right;
    padding-right: 2rem;
    font-size: 1.5rem;
}

.p4--align {
    text-align: center;
    font-size: 1.5rem;
}

.cAyuda:hover {
    color: $colorUno;
    font-size: 35px;
    text-decoration: none;
}

.cAyuda {
    font-size: 25px;
    text-decoration: none;
    color: $colorUno;
    text-shadow: 2px 2px 2px $colorUno;
    transition: all 300ms;
    transform: scale(1.2);
}

.mainIndex--padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.asideProductos--padding {
    padding-top: 2rem
}

.error404Img {
    text-align: center;
}

.span--color {
    color: $colorDos;
}


@import"body";
@import"_header";
@import"_form";
@import"_table";
@import "_footer";